@page "/unlock"
@using BlazorServer.Data
@using BlazorServer.Services

@inject ApiService service

<h1>Unlock AD Account</h1>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@extraVars" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="name" class="control-label">Name: </label>
                <InputText id="name" @bind-Value="extraVars.user" class="form-control" />
                <ValidationMessage For="@(() => extraVars.user)" />
            </div>
            <button type="submit">Submit</button>
        </EditForm>
    </div>
</div>


@code {
    private Extra_vars extraVars = new Extra_vars{
        user = "",
    };

    private async void HandleValidSubmit()
    {
        await service.Unlock(extraVars);
    }
}